@model WebApp.Areas.Admin.Models.mUsuarioPassword

@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a asp-area="Customer" asp-controller="Home" asp-action="Index">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Cat&#225;logos / Usuarios</li>
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Cambio de Clave de Usuarios</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Datos Generales</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <form role="form" asp-action="EditPassword">
                        <div asp-validation-summary="ModelOnly" class="alert bg-primary" role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em></div>
                        <input asp-for="Obj.Id" class="form-control" placeholder="Id" type="hidden" />
                        <div class="form-group">
                            <label>Usuario</label>
                            <input asp-for="Usuario" class="form-control" placeholder="Usuario" readonly />
                        </div>
                        <div class="form-group">
                            <label>Clave</label>
                            <input asp-for="Obj.Clave" class="form-control" placeholder="Clave" autocomplete="off" type="password" />
                            <span asp-validation-message="" asp-validation-for="Obj.Clave" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Confirmaci&#243;n de Clave</label>
                            <input asp-for="Obj.ConfirmacionClave" class="form-control" placeholder="Confirmar Clave" autocomplete="off" type="password" />
                            <span asp-validation-message="" asp-validation-for="Obj.ConfirmacionClave" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-action="Index" class="btn btn-default">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");}
}
