@model Entities.eUbicacionVista

@{
    ViewData["Title"] = "Ubicaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a asp-area="Customer" asp-controller="Home" asp-action="Index">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Cat&#225;logos / Ubicaciones</li>
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Creaci&#243;n de Ubicaciones</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Datos Generales</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <form role="form" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="alert bg-primary" role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em></div>
                        <input asp-for="IdRegion" class="form-control" placeholder="IdRegion" type="hidden" />
                        <input asp-for="IdDepartamento" class="form-control" placeholder="IdRegion" type="hidden" />
                        <input asp-for="IdMunicipio" class="form-control" placeholder="IdMunicipio" type="hidden" />
                        <div class="form-group">
                            <label>Regi&#243;n</label>
                            <input asp-for="NombreRegion" class="form-control" placeholder="Región" autocomplete="off" readonly />
                            <span asp-validation-message="" asp-validation-for="NombreRegion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Departamento</label>
                            <input asp-for="NombreDepartamento" class="form-control" placeholder="Departamento" autocomplete="off" readonly />
                            <span asp-validation-message="" asp-validation-for="NombreDepartamento" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Departamento</label>
                            <input asp-for="NombreMunicipio" class="form-control" placeholder="Municipio" autocomplete="off" readonly />
                            <span asp-validation-message="" asp-validation-for="NombreMunicipio" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Nombre</label>
                            <input asp-for="Nombre" class="form-control" placeholder="Nombre" autofocus autocomplete="off" />
                            <span asp-validation-message="" asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="reset" class="btn btn-default">Limpiar</button>
                        <a asp-action="Index" asp-route-idRegion="@Model.IdRegion" asp-route-idDepartamento="@Model.IdDepartamento" asp-route-idMunicipio="@Model.IdMunicipio" class="btn btn-default">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");}
}
